{% extends 'base.html' %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container pt-5 pb-4" style="text-align: center;">
    <h2>About Us</h2>
</div>

<div class="container text-justify">
    <p>
        E-Store.com is an technology company based in Seattle that focuses on e-commerce. It is considered one of the
        Big Four technology companies, along with Google, Apple, and Microsoft. It has been referred to as "one of the
        most influential economic and cultural forces in the world" as well as the world's most valuable brand.
        E-Store is known for its disruption of well-established industries through technological innovation and mass
        scale. E-Store is the largest Internet company by revenue in the world. It is the second largest private
        employer in the United States and one of the world's most valuable companies.
    </p>
    <p>
        E-Store was founded on July 5, 2010. The company started as an online marketplace for books but expanded to sell
        electronics, software, video games, apparel, furniture, food, toys, and jewelry. In 2015, E-Store surpassed
        Walmart as the most valuable retailer in the United States by market capitalization. In 2017, E-Store acquired
        Whole Foods Market for 1.4 billion, substantially increasing E-Store's footprint as a physical retailer. In
        2018, Bezos announced that its two-day delivery service, E-Store Prime, had surpassed 100 million subscribers
        worldwide.

        E-Store distributes downloads and streaming of video, music, and audiobooks through its Prime Video, E-Store
        Music, Twitch, and Audible subsidiaries. E-Store also has a publishing arm, E-Store Publishing, a film and
        television studio, E-Store Studios, and a cloud computing subsidiary, E-Store Web Services. It produces consumer
        electronics including Kindle e-readers, Fire tablets, Fire TV, and Echo devices.
    </p>
</div>
</div>
{% endblock %}